version: '3.9'

services:
  web:
    build: .
    container_name: ride_web
    command: >
      sh -c "python manage.py makemigrations --noinput &&
             python manage.py migrate --noinput &&
             python manage.py collectstatic --noinput &&
             gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 4"
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  celery:
    build: .
    container_name: ride_celery
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - db

  db:
    image: postgres:16
    container_name: ride_db
    environment:
      DEBUG: "False"
      PGDATABASE: "${PGDATABASE}"
      PGHOST: "${PGHOST}"
      PGPASSWORD: "${PGPASSWORD}"
      PGPORT: "${PGPORT}"
      PGUSER: "${PGUSER}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: ride_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
